body {
  font-family: "VT323", monospace;
  background-color: grey;
}

.title-text {
  color: whitesmoke;
  font-size: 35px;
}

.postboard {
  background-color: white;
  height: 120px;
  border-radius: 5px;
  font-size: 20px;
  color: rgb(96, 137, 214);
}
